.artistid-hero {
  background-color: #213263;
}

.artistid-hero-text {
  margin: auto;
  padding-top: 10%;
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: #f6e82b;
}

.artistid-hero-description {
  padding-top: 1rem;
  color: #f6e82b;
}

.artistid-hero-column {
  float: left;
}

.artistid-hero-left {
  width: 25%;
}

.artistid-hero-right {
  width: 75%;
}

.artistid-hero-image {
  transition: 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  object-fit: cover;
}

.artistid-hero-row {
  padding: 3%;
}
.artistid-hero-image-container {
  margin: 1rem;
}

/* Clear floats after the columns */
.artistid-hero-row:after {
  content: "";
  display: table;
  clear: both;
}

.artistid-songlist-container {
  padding: 5%;
}

.artistid-songlist-title {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.artistid-songlist-column {
  padding-bottom: 2%;
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.artistid-songlist-row:after {
  content: "";
  display: table;
  clear: both;
}

.artistid-songlist-image {
  transition: 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  object-fit: cover;
}

.artist-songlist-image:hover {
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 10px 10px 5px grey;
}

.artistid-songlist-text {
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
}

.artistid-songlist-row {
  padding-top: 1%;
}

.artistid-songlist-each-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.artistid-songlist-each-row:after {
  content: "";
  display: table;
  clear: both;
}
