.artistid-hero {
  background-color: #213263;
}

.artistid-hero-text {
  margin: auto;
  padding-top: 10%;
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: #f6e82b;
}

.artistid-hero-description {
  padding-top: 1rem;
  color: #f6e82b;
}

.artistid-hero-column {
  float: left;
}

.artistid-hero-left {
  width: 25%;
}

.artistid-hero-right {
  width: 75%;
}

.artistid-hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.artistid-hero-row {
  padding: 3%;
}
.artistid-hero-image-container {
  margin: 1rem;
}

/* Clear floats after the columns */
.artistid-hero-row:after {
  content: "";
  display: table;
  clear: both;
}

.artistid-songlist-container {
  padding: 5%;
}

.artistid-songlist-title {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.artistid-songlist-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.artistid-songlist-row:after {
  content: "";
  display: table;
  clear: both;
}

.artistid-songlist-image {
  width: 75%;
}

.artistid-songlist-text {
  padding-top: 10%;
  font-weight: bold;
}

.artistid-songlist-row {
  padding-top: 1%;
}

.artistid-songlist-each-column {
  float: left;
}

.artistid-songlist-each-left {
  width: 25%;
}

.artistid-songlist-each-right {
  width: 75%;
}

/* Clear floats after the columns */
.artistid-songlist-each-row:after {
  content: "";
  display: table;
  clear: both;
}
