.artist-hero {
  text-align: center;
  padding: 8rem;
  background-color: #213263;
}

.artist-hero-text {
  font-weight: bold;
  font-size: 2.5rem;
  color: #f6e82b;
}

.artist-list-row:after {
  content: "";
  display: table;
  clear: both;
}

.artist-list-column {
  float: left;
  width: 33.33%;
}

.artist-list-container {
  margin: auto;
  width: 85%;
  padding: 5%;
}

.artist-each-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: 1rem;
}

.artist-each-image {
  transition: 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  object-fit: cover;
}

.artist-each-image:hover {
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 10px 10px 5px grey;
}
