.buttonlogin {
  color: #213263;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.buttonlogin:hover {
  color: black;
  transition: ease-in 0.2s;
  color: white;
}

.buttonlogout {
  color: #213263;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
